.versionContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background-color: #f8f8f8;
    border-top: 1px solid #e0e0e0;
    text-align: center;
}

.versionText {
    font-size: 12px;
    color: #666;
}
